<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<form action="/Menu" method="post">
    <p>君の戦艦の位置を決めよう</p>
    <br><br>
    <p>縦</p>
    <input type="radio" name="width" value="0" checked="checked">0
    <input type="radio" name="width" value="1">1
    <input type="radio" name="width" value="2">2
    <input type="radio" name="width" value="3">3
    <input type="radio" name="width" value="4">4
    <p>横</p>
    <input type="radio" name="length" value="0" checked="checked">a
    <input type="radio" name="length" value="1">b
    <input type="radio" name="length" value="2">c
    <input type="radio" name="length" value="3">d
    <input type="radio" name="length" value="4">e
    <br><br>
    <button type="submit">決定</button>
</form>
</body>
</html>